.card {
  display: flex;
  border: none;
  border-radius: 20px;
  width: 400px;
  height: 230px;
  background: linear-gradient(to bottom right, #fef08a, #fdba74);
  font-size: larger;
  justify-content: center;
  color:black;
  align-items: center;
  position: relat