.detail-container {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 30vw;
    margin-top: 10vh;
    padding: 2rem;
    width: 40vw;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
  }